export BRODEN_DATASET_PATH='/ephemeral_instance_storage/broden_dataset'
# export CUDA_HOME=/usr/local/cuda-10.0 # default
export CUDA_HOME=/usr/local/cuda-10.1
layout virtualenv /home/ubuntu/.virtualenvs/parsing
export RESOURCES_PATH='/data/resources'
export CHECKPOINT_PATH='./_temp_data/ckpt'
